.main {
    color: #ffffff;
}

img.path{
    width: 100% !important;
    height: 100% !important;
}

#run_algorithm{
    color: #333333;
}

.esconder_algoritmo,
.esconder_opt {
    display: none;
}

table.tbody-info-dark tbody tr td:first-child,
table.thead-dark thead tr th,
table.tfoot-dark tfoot tr td {
    color: #ffffff !important;
    background-color: #343a40;
    border-color: #454d55;
}

table.tbody-white tbody tr td{
    color: #343a40 !important;
    background-color: #ffffff;
    border-color: #eeeeee;
}

.modal-xl{
    top: 0 !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
    width: 95% !important;
    max-width: 95% !important;
}

.my_line {
    background-color: #343a40;
    height: 1px;
    width: 100%;
}

.ocultar{
    display: none !important;
}

.center_content{
    position: relative !important;
    width: 100%;
    text-align: center;
    margin: 0 auto !important;
}

.sysloading {
    display: block;
    position: fixed;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    font-weight: normal;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

.sysloading br {
    clear: both;
}

.sysloading img {
    clear: both;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.center_content-vertical{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
